@use 'sass:list';
@use 'sass:map';
@use 'variables' as vars;

// returns a relative unit that's a multiple
// of the line height
@function vertical-rhythm($step, $ratio, $unit) {
  $vr-unitless: $ratio * $step;
  $vr-unit: null;

  @if $unit == 'em' {
    $vr-unit: $vr-unitless + 0em;
  }

  @if $unit == 'rem' {
    $vr-unit: $vr-unitless + 0rem;
  }

  @return $vr-unit;
}

@mixin breakpoint($breakpoint-name) {
  @media (min-width: map-get(vars.$breakpoints-px, $breakpoint-name)) {
    @content;
  }
}

@mixin each-breakpoint() {
  @each $breakpoint-name-width-pair in vars.$breakpoints-px {
    $breakpoint-name: list.nth($breakpoint-name-width-pair, 1);
    @include breakpoint($breakpoint-name) {
      @content ($breakpoint-name);
    }
  }
}
