.flex-parent__child-bottom {
	@include breakpoint('sm') {
		align-items: flex-start;
	}
	flex: 1;
}

.social-list {
	list-style: none;
}

.social-list__item {
	animation-name: fadeInDown;
	animation-duration: 0.25s;
	animation-fill-mode: both;
	display: inline-block;
	transition: transform 0.3s cubic-bezier(0.680, 0, 0.265, 1);
	&:not(:last-child) {
		margin-right: 23.4px;
	}
	a {
		color: $lightPurple;
		text-decoration: none;
		&:hover {
			color: $white;
		}
	}
}

.social-list__item:nth-child(1) {
	animation-delay: 0.625s;
}

.social-list__item:nth-child(2) {
	animation-delay: 0.75s;
}

.social-list__item:nth-child(3) {
	animation-delay: 0.875s;
}

.social-list__item:nth-child(4) {
	animation-delay: 1s;
}