@use 'sass:list';
@use 'abstracts' as abstracts;
@use 'variables' as vars;

@include abstracts.each-breakpoint() using ($breakpoint-name) {
  $properties: (
    'mt': (
      'margin-top',
    ),
    'mr': (
      'margin-right',
    ),
    'mb': (
      'margin-bottom',
    ),
    'ml': (
      'margin-left',
    ),
    'my': (
      'margin-top',
      'margin-bottom',
    ),
    'mx': (
      'margin-left',
      'margin-right',
    ),
    'pt': (
      'padding-top',
    ),
    'pr': (
      'padding-right',
    ),
    'pb': (
      'padding-bottom',
    ),
    'pl': (
      'padding-left',
    ),
    'py': (
      'padding-top',
      'padding-bottom',
    ),
    'px': (
      'padding-left',
      'padding-right',
    ),
  );
  @each $property in $properties {
    $shorthand-name: list.nth($property, 1);
    $shorthand-props: list.nth($property, 2);
    @each $step in vars.$steps {
      $step-name: list.nth($step, 1);
      $step-value: list.nth($step, 2);
      .u-#{$shorthand-name}--#{$step-name}\:#{$breakpoint-name} {
        @each $prop in $shorthand-props {
          #{$prop}: #{abstracts.vertical-rhythm(
              $step-value,
              vars.$typography-line-height,
              vars.$relative-unit-rem
            )} !important;
        }
      }
    }
  }

  .u-display-none\:#{$breakpoint-name} {
    display: none !important;
  }

  .u-display-block\:#{$breakpoint-name} {
    display: block !important;
  }

  .u-text-center\:#{$breakpoint-name} {
    text-align: center !important;
  }

  .u-list-none\:#{$breakpoint-name} {
    list-style: none !important;
  }
}
